{% extends 'base_template.html' %}
{% block content%}
{% load static %}
<style>
section {
	width: 70%; height: 70%; float: left;
}
aside {
	width: 15%; height: 70%; float: left;
}
footer {
	width: 100%; height: 15%; clear: both;
}
</style>
</head>
<body>
	<header><h1>Pwn_dorei's django</h1></header>
	<nav>
        <h2>Sequence</h2>
        <ul>
            <li><a href="#assignment1">과제2-1</a></li>
            <li><a href="#assignment2">과제2-2</a></li>
            <li><a href="#assignment3">과제2-3</a></li>
        </ul>
    </nav>
	<section>
        <article>
            <h3>Pwn_dorei</h3>
            <img src="{% static 'pwn_dorei' %}">
        </article>
    </section>
	<aside>
    </aside>
</body>
</html>
{% endblock %}